<h1>Chat</h1>

<%= render 'form', question: @question %>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Preguntas</th>
    </tr>
  </thead>

  <tbody>
    <% @ranking.each do |ranki| %>
      <tr>
        <td><%= ranki.email %></td>
        <td><%= ranki.total_questions %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
